*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 8px;
    background: black;
    box-shadow: 0px 5px 10px black;
}
header h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    font-size: 36px;
    width: 100%;
}

.form{
    display: flex;
    background-color: rgb(255, 0, 8);
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.form .content h1{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 0.5s;
}
.form .content h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    position: relative;
    left: 10px;
    top: 5px;
    color: wheat;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 1s;
}

.form .content p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    position: relative;
    left: 10px;
    top: 10px;
    color: wheat;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 2s;
}

.container{
    position: relative;
    left : 100px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    opacity: 0;
    animation: zoomOut 2s ease forwards;
    animation-delay: 2.5s;
}

.head{
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fileinput input{
    margin: 10px 10px;
    cursor: pointer;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.select-type{
    margin-top: 10px;
}

.opt-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.opt-type .rtype{
    margin: 10px 10px;
    display: flex;
}

input{
    width: 100%;
}

.submit-btn input{
    margin-top: 20px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.submit-btn :hover{
    background-color: red;
    color: black;
}

.container:hover{
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomOut{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}