<!-- ProgressPage.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body{
        text-align: center;
        padding-top: 20%;
      }
      .txt{
        color: white;
        font-size: x-large;
        padding-top: 15px;
      }
        
      
    </style>
  </head>
   <body style="background-color: black">
    <div class="spinner-border text-light" id="customSpinner" role="status">
      <span class="visually-hidden"></span>
    </div>
    <div id="output" class="row">
    </div class="spin">
    <script src="{{ url_for('static', filename='scripts/loading.js') }}"></script>
    <div class="txt">
      Please Wait!!
    </div>
  </body>
</html>
